
.idea/

*.ssh/

*.terraform/

*.terraform.lock.hcl

*inventory.ini

*terraform.tfstate.backup

*terraform.tfstate

*.DS_Store

*.terraform.tfstate.lock.info

*.env.*

**/logs/

*.env

src/terraform/cluster/ansible/playbooks/ansible.cfg
